*{
    margin: 0;
    padding: 0;
    font-family: 'apple',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
    font-family: 'apple';
    src: url(font/apple.woff2);
}

html{
    scroll-behavior: smooth;
    user-select: none;
    overflow-x: hidden;
}

html body{
    height: 100%;
    overflow-x: hidden;
    cursor: pointer;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.container{
    position: fixed;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    transition: all .55s ease;
    padding-top: 40px;
}

.logopack{
    flex-grow: 1;
}

.logopack img{
    width: 9rem;
    height: auto;
    transition: all .55s ease;
}

.logopack img:hover{
    transform: translatey(5px)
}

nav{
    flex-grow: 2;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    padding: 0 50px;
    color: #877BD5;
    font-weight: medium;
    letter-spacing: 0.8px;
    font-size: 1rem;
    transition: all .55s ease;
}

nav ul li a:hover{
    color: #7f8e53;
}

.wp{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centertxt{
    position: absolute;
    text-align: center;
    width: 100%;
    color: #7f8e53;
    letter-spacing: 5px;
    bottom: 350px;
}

.centername{
    font-size: 75px;
    margin-right: 72.75%;
}

.ccc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ccc h1{
    padding: 0 1vw;
    font-size: 180px;
}

.work{
    background-color: #7f8e53;
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 100px;
    align-items: center;
    position: relative;
}

.breif{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.myservice, .WID, .servicedetail{
    margin-bottom: 20px;
}

.myservice{
    color: white;
    font-size: small;
}

.WID{
    color: black;
    font-size: 60px;
    padding: 20px;
}

.servicedetail{
    color: white;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    max-width: 800px;
}

.profilepic{
    flex-shrink: 0;
    margin-left: 20px;
}

.profilepic img{
    width: 325px;
    height: auto;
    border-radius: 55px;
    object-fit: cover;
    transition: all .55s ease;
}

.profilepic img:hover{
    transform: translateY(10px);
}

.photosection{
    background-color: black;
    padding: 40px 0;
}

.headingphoto{
    color: rgb(108, 108, 108);
    text-align: center;
    padding: 30px;
    font-size: 60px;
    padding-top: 40px;
    letter-spacing: 4px;
}

.imagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    padding-bottom: 70px;
    box-sizing: border-box;
}
.imagecontainer[data-animated="true"]{
    overflow: hidden;
}

.photo-row {
    display: flex;
    width: 100%;
}

.photo-row img {
    width: 12%;
    height: 50%;
    object-fit: cover;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.5s;
}

.photo-row .rect-photo {
    width: 40%;
    height: auto;
}

@keyframes scroll {
    to{
        transform: translate(-500%);
    }
}

.imagecontainer[data-animated="true"] .photo-row{
    flex-wrap: nowrap;
    animation: scroll 60s infinite linear;
}

.cgsection{
    background-color: white;
    text-align: center;
    color: #7060DE;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.cgmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    font-size: 60px;
    margin-top: -100px;
}

.cgbreif{
    text-align: center;
    max-width: 60%;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin: 0 auto;
    padding: 40px;
}

.filmlink{
    padding: 20px;
}

.filmlink a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #7060DE;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all, .55s ease;
}
.filmlink a:hover{
    background-color: #0C0B35;
    transform: translateY(-5px);
}

.videobox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.shvideo{
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.shvideo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    border-radius: 30px;
    cursor: pointer;
}
 video :hover{
    filter:blur(20%);
 }

    
.blenderdetail{
    background-color: #483D8B;
    height: 950px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}

.blendermain{
    cursor: pointer;
}
.blenderheading{
    margin-top: -50px;
    padding: 30px;
    font-size: 60px;
}

.blenderbreif{
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    font-size: 30px;
}
#contactus{
    background-color: #04041f;
}
.ccc-image img{
    width: 8vw;
    height: auto;
}
.logo-rights{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-rights .design-mark{
    width: 6vw;
    height: auto;
}
.logo-rights img{
    width: 8vw;
    height: auto;
}
.footer-sitemap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-sitemap .foot-span span{
    color: #959595;
    font-size: 20px;
    font-weight: 700;
}
.footer-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1800px;
    padding: 40px;
}
#contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-us{
    padding-bottom: 10px;
}
.contact-us a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #959595;
    border-radius: 50px;
}
.copyrights p{
    color: #959595;
    font-size: 15px;
    padding: 30px;
}
hr {
    border: none;
    border-top: 2px solid #959595;
    width: 100%;
    margin: 20px auto;
}

.foot-link{
    background-color: #959595;
    opacity: 0.8;
    border-radius: 8px;
    position: fixed;
    bottom: 20px;
    align-items: center;
    display: flex;
    padding: 5px 5px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1000;
}
.foot-link ul{
    display: flex;
    padding: 15px 5px;
    list-style-type: none;
    gap: 5px;
}

.foot-link ul li a{
    padding: 10px 20px;
    background-color: #141414;
    border-radius: 8px;
    border: 1.2px solid transparent;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: #959595;
    transition: color 0.3s ease;
}
.foot-link ul li a:hover{
    color: #ffae00;
    border: 1.2px solid #ffae00;
}

.b-videobox{
    display: flex;
    justify-content: center;
    position: relative;
}
.b-videobox video{
    width: 500px;
    padding: 50px;
    justify-content: center;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .work, .photosection, .cgsection, .blenderdetail, .contact-section{
        padding: 20px;
    }
    .breif, .cgdetail .blendermain .contact-section{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .profilepic img{
        width: 80%;
    }
    .imagecontainer img{
        padding: 0 10px;
    }
    .cgmain, .blenderheading{
        font-size: 40px;
    }
    .cgbreif, .blenderbreif{
        font-size: 20px;
        padding: 20px;
    }
    .videobox, .b-videobox{
        flex-direction: column;
        align-items: center;
    }
    .shvideo, .b-videobox video{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
} 
@media (max-width: 769px){
    nav ul li a {
        padding: 0 10px;
        font-size: 0.8rem;
    }
    .centername{
        position: relative;
        margin-left: 300px;
        font-size: 4vw;
        top: 120px;
    }
    .work{
        height: auto;
    }
    .breif{
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .ccc h1{
        position: relative;
        top: 150px;
        font-size: 15vw;
    }
    .text-container{
        width: 80%;
        padding: 20px;
    }
    .servicedetail{
        text-align: center;
    }
    .myservice{
        padding: 0px;
    }
    .WID{
        padding: 0;
    }
    .profilepic img{
        width: 50%;
        height: auto;
        margin-left: 0px;
        padding: 20px;
    }
    .photosection{
        height: auto;
    }
    .headingphoto{
        font-size: 30px;
        padding: 30px;
        padding-bottom: 50px;
    }
    .imagecontainer{
        padding: 20px;
        gap: 50px;
        padding-bottom: 60px;
    }
    .imagecontainer img{
        width: 50%;
        height: auto;
    }
    .cgsection{
        height: auto;
    }
    .cgdetail{
        padding: 50px;
        align-items: center;
    }
    .cgmain{
        padding-top: 80px;
    }
    .cgbreif{
        max-width: 90%;
    }
    .cgmain, .blenderheading{
        font-size: 30px;
    }
    .cgbreif, .blenderbreif{
        font-size: 18px;
    }
    .shvideo video{
        width: 70%;
    }
    .b-videobox{
        width: 50%;
        height: auto;
        margin-left: 185px;
        margin-bottom: -100px;
    }
    .b-videobox video{
        border-radius: 80px;
        padding: 30px;
    }
    .blenderheading{
        padding-top: 10px;
    }
    .blendermain{
        padding-bottom: -100%;
        margin-top: -80px;
    }
    .contact-section{
        height: auto;
    }
    .contact-container{
        height: auto;
    }
    .email-container h1{
        font-size: 20px;
        margin-top: -30px;
    }
    .sm-container h1{
        font-size: 20px;
    }
    .cr-text p{
        margin-bottom: -20px;
        margin-top: -10px;
    }
    .filmlink a:hover{
        background-color: #0C0B35;
    }
}
@media (max-width: 380px){
    .centername{
        position: relative;
        margin-left: 140px;
    }
    .b-videobox{
        position: relative;
        margin-left: 80px;
        border-radius: none;
        padding: 0px;
    }
}
@media (max-width: 180px){
    .centername{
        position: relative;
        margin-left: 55px;
    }
    .blenderdetail{
        height: 100%;
    }
}
@media (max-width: 300px){
    .centername{
        position: relative;
        margin-left: 105px;
    }
}
@media (max-width: 343px){
    .centername{
        position: relative;
    }
}
@media (max-width: 460px){
    .centername{
        position: relative;
        margin: auto;
    }
    .b-videobox{
        position: relative;
        margin: auto;
    }
}
@media (max-width: 500px){
    .centername{
        position: relative;
        margin: auto;
    }
    body{
        margin: auto;
    }
    .b-videobox{
        position: relative;
        margin: auto;
    }
}
@media (max-width: 540px){
    .centername{
        position: relative;
        margin: 0;
    }
    .b-videobox{
        position: relative;
        margin: auto;
    }
    .b-videobox video{
        border-radius: 4rem;
    }
    .blendermain{
        position: relative;
        top: 50px;
    }
    .blenderdetail{
        max-height: 925px;
    }
}
